In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# Variables and Output
name = "Alice"
age = 30
print("Name:", name)
print("Age:", age)

Name: Alice
Age: 30

In [3]:
# Input from User
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: sam
Hello, sam

In [4]:
# Conditional Statements
x = 10
if x > 0:
    print("Positive number")
elif x == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [5]:
# Loops
for i in range(5):
    print(i)

# While Loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4
0
1
2
3
4

In [6]:
# Lists
fruits = ["apple", "banana", "cherry"]
print("First fruit:", fruits[0])
print("All fruits:", fruits)

# Looping through a list
for fruit in fruits:
    print(fruit)

First fruit: apple
All fruits: ['apple', 'banana', 'cherry']
apple
banana
cherry

In [7]:
# Functions
def greet(name):
    print("Hello,", name)

greet("Alice")

Hello, Alice

In [8]:
# Dictionaries
person = {"name": "Alice", "age": 30}
print("Name:", person["name"])
print("Age:", person["age"])

Name: Alice
Age: 30

In [9]:
# Classes
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print("Hello, my name is", self.name, "and I am", self.age, "years old.")

alice = Person("Alice", 30)
alice.greet()

Hello, my name is Alice and I am 30 years old.